body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  margin: 0 auto;
  /* background-color: #061a2b; */
  background-color:#0c3152;
  color: white;
  position: relative;
  width: 560px;
}

p {
  line-height: 2;
}

a {
  color: aqua;
}
a:visited {
  color: pink;
}
.container {
  width: 90%;
  margin: 0 auto;
}

table {
  border: 1px solid white;
}
table thead {
  font-size: larger;
  font-weight: bold;
}
table th, table td{
  border: 1px solid white;
  padding: 0px 5px;
}

.kengaiyou, .chartboard {
  background-color: #061a2b;
  color: white;
  margin: 10px auto;
  border: black 1px solid;
  border-radius: 20px;
  padding: 10px 20px 20px 20px;
  position: relative;
}

.piechart-total {
   position: absolute;
   top: 0;
   left: 0;
   margin: auto;
   right: 0;
   margin: auto;
   text-align: center;
   top: 60%;
   -webkit-transform: translateY(-40%);
   transform: translateY(-40%); 
   color: white;
   font-weight: bold;
}
