body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  margin: 0;
  background-color: #061a2b;
  color: white;
}

p {
  line-height: 2;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.board {
  background-color: white;
  margin: 0 auto;
  border: black 1px solid;
  border-radius: 20px;
  padding: 10px 10px 20px 10px;
}
